 *{
  /*background: #F3F5FC;*/
  font-family: 'VT323', monospace;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  overflow: hidden;
}

body {
  background-image: url("./imagenes/bunker.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header{
  display: flex;
}
.bunker{
  margin-left: 5%;
  font-size: 15px;
  font-family:Arial, Helvetica, sans-serif;
  color: #fefffd;
  text-shadow: 3px 3px 3px #000, -1px -1px 1px rgba(255, 255, 255, 0.131);
}

.logo {
  padding-top: 10px;
  margin-left: 30px;
  size: 10%;
}

main {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  padding: 0 5px;
}

.text-area {
  height: 300px;
  width: 650px;
  background-color: rgba(226, 148, 58, 0.3);
  border: none;
  color: #dae7e8;
  margin-top: 30px;
  padding: 2px;
  text-transform: lowercase;
}

::placeholder {
  color: #6bc207;
}

.text-area:focus {
  outline: none;
}

.mensaje {
  height: 470px;
  width: 340px;
  background: #E09C4E;
  background-color: rgba(226, 148, 58, 0.3);
  background-position: 50px;
  background-position-y:top;
  background-image: url("./imagenes/maquina-sin-fondo.png");
  background-repeat: no-repeat;
  border: none;
  border-radius: 24px;
  color: #8a3871;
  margin-top: 10px;
  padding:  15px;
}

.mensaje:focus {
  outline: none;
}

.botones {
  display: flex;
  margin-top: 5px;
}


.btn-encriptar {
  background-color: #060000;
  border: 3px solid #c8c7c788;
  border-radius: 50px;
  color: #eee0e0;
  cursor: pointer;
  height: 67px;
  width: 67px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  margin-left: 100px;
}

#panel1{
  margin: 10px 10px;
  margin-top: 80px;
}

.btn-desencriptar {
  background-color: #060000;
  border: 3px solid #c8c7c788;
  border-radius: 50px;
  color: #eee0e0;
  cursor: pointer;
  height: 67px;
  margin-left: 300px;
  width: 67px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
}

#panel2{
  margin: 10px 10px;
  margin-left: 350px;
  margin-top: 80px;
}

.encriptado{
  position: relative;
  padding: 10px;
}

.btn-copiar {
  background-color: #060000;
  border: 3px solid #c8c7c788;
  border-radius: 50px;
  color: #eee0e0;
  cursor: pointer;
  height: 67px;
  width: 67px;
  left: 160px;
  bottom: 18px;
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
}

.enigma p{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15%;
  color: #fefffd;
  text-shadow: 3px 3px 3px #000, -1px -1px 1px rgba(255, 255, 255, 0.131);
}


.informacion {
  color: #80d105;
  font-size: 18px;
}

.panel {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 2px rgba(255, 252, 252, 0.776), -2px -2px 2px rgba(11, 11, 11, 0.017);
  background-image: url(./imagenes/acero.jpeg);
  background-repeat: repeat;
  border-radius: 10px;
  padding: 20px;
  position:fixed;
  margin-left: 80px;
  box-shadow: 2px 5px 9px 0px #444C44
 }